.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fe2722;
    padding: 10px 20px;
}

.header__pannel {
    display: flex;
}

.header__pannel > div:not(:last-child) {
    margin: 0 15px 0 0;
}