.input {
    width: 260px;
    padding: 10px;
    color: black;
}

.wrapper {
    display: flex;
    flex-direction: column; 
}

.error {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: red;
}